.cars {
    max-width: 840px;
    width: 100%;

    &__inner {
        display: flex;
        padding: 40px 0;
        justify-content: space-between;
    }

    &__pagination {
        margin-top: 50px;
    }

    .MuiPagination-ul.css-wjh20t-MuiPagination-ul {
        justify-content: center;
    }

    &__filters {
        max-width: 280px;
        width: 100%;
        margin-right: 20px;
    }
}