.cars {
    max-width: 840px;
    width: 100%;

    &__inner {
        display: flex;
        padding: 40px 0;
        justify-content: space-between;
    }

    &__filters {
        width: 300px;
    }
}