.profile {
    padding: 40px 0;
 
    &__inner {
        display: flex;
    }

    &__list {

        &_title {
            font-size: 14px;
        }
    
        &_link {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 5px;
            color: #000;
            
            &:hover {
                font-weight: 600;
                color: #000;
                background-color: #f5f5f5;
                transition: .2s;
            }
            &.active {
                font-weight: 600;
                color: #000;
                transition: .2s;
                background-color: #f5f5f5;
            }
        }
    }

    &__data {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    &__box {
        max-width: 300px;
        width: 100%;
    }

    &__route {
        width: 100%;
        padding: 0 30px;
    }
}