.price {
    padding: 20px;
    border: 1px solid #e6e7eb;
    border-radius: 5px;
    margin-bottom: 20px;

    &__title {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__input {
        width: 100px;
        padding: 10px 0;
        text-align: center;
        border: none;
    }

    &__inputs-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}