.sort {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 35px;
    }
}