.slider-car {
    padding: 40px 0;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 20px;
    }

    @media(max-width: 1000px) {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
    }
}