.slider-car {
    padding: 40px 0;

    &__list {
        padding: 0 50px;
    }

    &__title {
        margin-bottom: 20px;
    }  
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
    overflow: hidden;
}