.auth-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    &__title {
        margin-bottom: 10px;
    }

    &__box {
        max-width: 300px;
        width: 100%;
        padding: 45px;
        z-index: 1;
        background-color: #fff;
        margin: 30px 15px;
        text-align: center;
        position: relative;
    }

    &__btn {
        position: absolute;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        right: 5px;
        top: 5px;
        padding: 0;
        cursor: pointer;
    }
    
    &__user-name {
        width: 300px;
    }

    &__create {
        position: relative;
        border: none;
        background-color: transparent;
        margin-top: 20px;
        width: 100px;
        text-align: left;
        cursor: pointer;

        &-icon {
            position: absolute;
            right: 0;
            top: -2px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}