.advantage {
    padding: 40px 0;

    &__list {
        background-color: #f8f8f8;
        padding: 30px;
        border-radius: 7px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    &__title {
        margin-bottom: 40px;
    }

    &__details {
        max-width: 600px;
        line-height: 25px;
    }
    
}