.prfile-info {
    &__title {
        margin-bottom: 25px;   
        font-size: 25px;
        font-weight: 600;
    }

    &__name {
        font-weight: 600;
        
    }

    &__text {
        margin-bottom: 20px;
    }

    &__personal {
        max-width: 536px;
        display: flex;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        margin-bottom: 40px;
    }

    &__delete {
        display: flex;
        align-items: center;
        background-color: inherit;
        border: 1px solid #000;

        &-icon {
            margin-left: 5px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        margin-right: 10px;
    }

    &__button {
        display: flex;
        align-items: center;
        background-color: inherit;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
    }

    &__avatar {
        margin-right: 15px;
    }
}